body{
    background-color: #F5FAFF;
}

.images-speakers {
    border-radius: 50% !important;
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
    filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
}

.images-speakers:hover {
    -webkit-filter: grayscale(0);
    filter: none;
    margin: -2px;
    box-sizing: border-box;    
    border: solid #00d084 2px;
    padding: 5px;
}

.modal-speaker-imagen{
    padding: 0%;
}

.modal-speaker-nombre{
    color: #007bff;
}

.images-patrocinadores {
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
    filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
}

.images-patrocinadores:hover {
    -webkit-filter: grayscale(0);
    filter: none;
    
}